<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/style.css' %}">
</head>

<body>
    <div id="wrapper">
        <div class="blocks">
            <h1>Registration</h1>
            <form action="/register" method="POST">
                {% csrf_token %}
                <label for="firstname">First Name: </label><input type="text" name="firstname"><br>
                <label for="lastname">Last Name: </label><input type="text" name="lastname"><br>
                <label for="email">Email: </label><input type="text" name="email"><br>
                <label for="password">Password: </label><input type="text" name="password"><br>
                <label for="password_conf">Confirm Password: </label><input type="text" name="password_conf"><br><br>
                <button type="submit">Register</button>
            </form>
        </div>
        <div class="blocks">
            <h1>Login</h1>
            <form action="/login" method="POST">
                {% csrf_token %}
                <label for="email">Email: </label><input type="text" name="email"><br>
                <label for="password">Password: </label><input type="text" name="password"><br><br>
                <button type="submit">Login</button>
            </form>
        </div>
        <div id="error_messages">
            {% if messages %}
            <ul style="color: red; list-style-type: none;">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</body>

</html>